

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 3rem;
}

.buttons button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #1e3c72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #4e76a0;
}